<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">@ Home PG </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
          <!-- <span class="sr-only">(current)</span> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" *ngIf='(!this.authserve.logedIn())' routerLink="/register">Register</button>&nbsp;
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" *ngIf='(!this.authserve.logedIn())' routerLink="/login">Login</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" *ngIf='(this.authserve.logedIn())' (click)="authserve.logOut()">logout</button>
    </form>
  </nav><br />