<!-- Two way Data bind Ex1-->
<input [value]="username" (input)="username = $event.target.value">
<p>Hello {{username}}!</p>

<!-- Two way Data bind Ex2-->

<input [value]="username" (click)="changeUser($event)">
<p>Hello {{username}}!</p>

<input [value]="username" (blur)="changeUser($event)">
<p>Hello {{username}}!</p>

<!-- Two way Data bind Ex3-->

<input [value]="username" (keyup.enter)="changeUser($event)">
<p>Hello {{username}}!</p>
<input [value]="username" (keyup.control)="changeUser($event)">
<p>Hello {{username}}!</p>
<input [value]="username" (keyup.control.alt)="changeUser($event)">
<p>Hello {{username}}!</p>
<input [value]="username" (keyup.control.shift)="changeUser($event)">
<p>Hello {{username}}!</p>

<!-- Two way Data bind Ex4-->

<input [value]="username" (keydown.enter)="changeUser($event)">
<p>Hello {{username}}!</p>
<input [value]="username" (keydown.control)="changeUser($event)">
<p>Hello {{username}}!</p>
<input [value]="username" (keydown.control.alt)="changeUser($event)">
<p>Hello {{username}}!</p>
<input [value]="username" (keydown.control.shift)="changeUser($event)">
<p>Hello {{username}}!</p>


<!-- Two way Data bind E5-->

<div class="container">
<input [(ngModel)]="username">
<p>Hello {{username}}!</p>
</div>
<!-- Two way Data bind Ex6-->
<!-- Understanding the two way databinding Or syntactic sugar -->
<input [ngModel]="username" (ngModelChange)="username = $event">

<p>Hello {{username}}!</p>

<!-- Two way Data bind Ex7-->
<form action="">
  <div>
    <label for="">Employee Name</label>
    <input type="text" [(ngModel)]="employee.name" name="name">
  </div>
<div>
    <label for="">Employee id</label>
    <input type="text" [(ngModel)]="employee.id" name="id">
 </div>
 <div>
    <label for="">Employee address</label>
    <input type="text" [(ngModel)]="employee.address" name="address">
 </div>
 <div>
    <label for="">Employee number</label>
    <input type="number" [(ngModel)]="employee.number" name="number">
 </div>
 <div>
   <button (click)="submit()">SubmitData</button>
 </div>
</form>