    <!-- Carousel Fixed Height -->
    <section class="carousel-fixed-height">
      <div id="carousel-fixed-height" class="carousel slide" data-ride="carousel" data-interval=1500>
        <ol class="carousel-indicators">
          <li data-target="#carousel-fixed-height" data-slide-to="0" class=""></li>
          <li data-target="#carousel-fixed-height" data-slide-to="1" class=""></li>
          <li data-target="#carousel-fixed-height" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item">
            <!-- The only change from the original bootstrap carousel is the "item" divs. I am using this in a CMS so I use inline styles for the background divs so I can set the background image files within the loop.  Just easier for my purposes.  Change the img tag to a div as follows: -->
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/woman-camera.jpg" alt="First slide">-->
            <div style="background:url('./assets/images/logo/banner1.jpeg') center center; background-size:cover;" class="slider-size">
              <div class="carousel-caption">
                <h3>Buy and Sell</h3>
                <p>Sell and Buy your property as you want</p>
              </div>
            </div>
          </div>
          <div class="item">
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/spiderweb.jpg" alt="Second slide">-->
            <div style="background:url('./assets/images/logo/banner2.jpg') center center; background-size:cover;" class="slider-size">
              <div class="carousel-caption">
                <h3>BuildUp Relationship as Exchanger</h3>
                <p>Trust Now Or Never</p>
              </div>
            </div>
          </div>
          <div class="item active">
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/hearthand.jpg" alt="Third slide">-->
            <div style="background:url('./assets/images/logo/banner3.jpg') center center; background-size:cover;" class="slider-size">
              <div class="carousel-caption">
                <h3>Make Trading</h3>
                <p>Exchange things at your own wish</p>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-fixed-height" data-slide="prev">
            <i class="fa fa-chevron-circle-left fa-2x" ></i>
          </a>
          <a class="right carousel-control" href="#carousel-fixed-height" data-slide="next">
            <i class="fa fa-chevron-circle-right fa-2x" ></i>
          </a>
            </div>
    </section>
    <!-- /end Carousel Fixed Height -->
    
    <div class="col-xs-12">
      <div class="col-xs-6  setting-borders">
        <table width="100%" border="0" class="icongrid">
          <tbody>
            <tr>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink='/categories/properties'>
                  <div>
                    <img src="assets/images/home.png" width="50%" alt="home-image">
                  </div>
                  <div>
                    <span>Properties</span>
                  </div>
                </a>

              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/cars">
                  <div>
                    <img src="assets/images/car.png" width="50%" alt="car-image">
                  </div>
                  <div>
                    <span>Cars</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/electronics">
                  <div>
                    <img src="assets/images/electronics.png" width="50%" alt="electronics-image">
                  </div>
                  <div>
                    <span>Electronics & Applicances</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/furniture">
                  <div>
                    <img src="assets/images/furniture.png" width="50%" alt="furniture-image">
                  </div>
                  <div>
                    <span>Furniture</span>
                  </div>
                </a>
              </td>
            </tr>


            <tr>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/jobs">
                  <div>
                    <img src="assets/images/jobs.png" width="50%" alt="job-image">
                  </div>
                  <div>
                    <span>Jobs</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/mobiles">
                  <div>
                    <img src="assets/images/mobiles.png" width="50%" alt="mobiles-image">
                  </div>
                  <div>
                    <span>Mobiles</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/bikes">
                  <div>
                    <img src="assets/images/bikes.png" width="50%" alt="bikes-image">
                  </div>
                  <div>
                    <span>Bikes</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/books">
                  <div>
                    <img src="assets/images/books-sports.png" width="50%" alt="books-image">
                  </div>
                  <div>
                    <span>Books,Sports & Hobbies</span>
                  </div>
                </a>
              </td>
            </tr>


            <tr>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/fashion">
                  <div>
                    <img src="assets/images/fashion.png" width="50%" alt="fashion-image">
                  </div>
                  <div>
                    <span>Fashion</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/pets">
                  <div>
                    <img src="assets/images/pets.png" width="50%" alt="pets-image">
                  </div>
                  <div>
                    <span>Pets</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLink="/categories/services">
                  <div>
                    <img src="assets/images/services.png" width="50%" alt="services-image">
                  </div>
                  <div>
                    <span>Services</span>
                  </div>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
       
      </div>
    
      <div class="col-sm-6" id="vid">
        <video src="./assets/time2.mp4" autoplay="repeat" controls loop type="video/mp4" width="100%" height="300px"></video>
      </div>
    </div>