<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-heading">
            <h2 class="text-center">Registration</h2>
        </div>
        <hr />
        <div class="modal-body">

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                
                <div class="form-group">
                    <label>Fname</label>
                    <input type="text" formControlName="fname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"/>
                    <div *ngIf="f.submitted && fname.invalid" class="invalid-feedback">
                        <div *ngIf="fname.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Lname</label>
                    <input type="text" formControlName="lname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" />
                    <div *ngIf="f.submitted && lname.invalid" class="invalid-feedback">
                        <div *ngIf="lname.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
                    <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmpassword.errors.minlength">Confirm Password must be at least 6 characters</div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button [disabled]="registerForm.pristine" class="btn btn-primary">Register</button>
                </div>

            </form>
        </div>
    </div>
</div>